<script>
	$('#deleteRowModal')
			.on(
					'show.bs.modal',
					function(event) {
						var allId = [];
						$('#deleteRowDescription').empty();
						$('#deleteRowDescription').append(
								"<table id='confirmDeleteTable'></table>");
						$('#confirmDeleteTable')
								.append(
										"<thead><tr id='confirmDeleteHeader'><th>Row Id</th><th>Create User</th><th>Savepoint Timestamp</th></tr></thead>")
						$('#confirmDeleteTable')
								.append(
										"<tbody id='confirmDeleteBody'></tbody>")

						checkboxes = document.getElementsByName('rowboxes');
						for (var i=0, n=checkboxes.length; i<n; i++) {
							if (checkboxes[i].checked) {
								var checkbox = checkboxes[i]
								var rowId = checkbox.getAttribute("data-rowid")
								var rowETag = checkbox.getAttribute("data-rowetag")
								console.log(rowId)
								console.log(rowETag)
								var id = "confirmDeleteRow" + i
								var row = $("<tr></tr>").attr('id', id)
								row.append(
									"<td>" + rowId + "</td>")
									row.append(
									"<td>"
											+ $(
													"#createUser-"
															+ rowETag.substring(5))
													.text() + "</td>")
								row.append(
									"<td>"
											+ $(
													"#savepointTimestamp-"
															+ rowETag.substring(5))
													.text() + "</td>")
								$("#confirmDeleteBody").append(row)

								allId.push(rowId);
							}
						}
						console.log(allId)

						var modal = $(this)
						modal.find('input#deleteRowId').val(allId)
					})

	$('#deleteButton').on('click', function(event) {
		var button = $(event.target); // The clicked button
		$('#deleteRowForm').submit()
	});
</script>