<script th:inline="javascript">
	$('#deleteRowModal')
			.on(
					'show.bs.modal',
					function(event) {
						$('#deleteRowDescription').empty();
						$('#deleteRowDescription').append(
								"<table id='confirmDeleteTable'></table>");
						$('#confirmDeleteTable')
								.append(
										"<thead><tr id='confirmDeleteHeader'><th>Row Id</th><th>Create User</th><th>Savepoint Timestamp</th></tr></thead>")
						$('#confirmDeleteTable')
								.append(
										"<tbody id='confirmDeleteBody'></tbody>")

						tablerow = document.getElementsByClassName('tablerow');
						for (let i = 0; i < tablerow.length; i++) {
							var r = tablerow[i]
							var checkbox = r.getElementsByClassName('rowboxes')[0];
							if (checkbox.checked) {
								var rowId = r.getAttribute("data-rowid")
								var rowETag = r.getAttribute("data-rowetag")
								var id = "confirmDeleteRow" + i
								var row = $("<tr></tr>").attr('id', id)
								row.append(
									"<td>" + rowId + "</td>")
									row.append(
									"<td>"
											+ $(
													"#createUser-"
															+ rowETag.substring(5))
													.text() + "</td>")
								row.append(
									"<td>"
											+ $(
													"#savepointTimestamp-"
															+ rowETag.substring(5))
													.text() + "</td>")
								$("#confirmDeleteBody").append(row)

							}
						}

					})

	$('#deleteButton').on('click', function(event) {
		$('#tableForm').submit();
	});
</script>