#downloadZippedButton {
	margin-top:20px;
}

.sortColumn {
	
}

.sortColumnAscending::before {
	content: "\25B2 " /* ▲ */
}

.sortColumnDescending::before {
	content: "\25BC " /* ▼ */
}

.tablelink {
	font-size: larger;
	position:relative;
	top: 10px;
}
