<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{top_menu_layout}">
<!--/*@thymesVar id="users" type="org.opendatakit.aggregate.odktables.rest.entity.UserInfoList"*/-->

<head>
<link rel="stylesheet" th:href="@{/css/modal.css}">
</head>

<th:block layout:fragment="title">Users and Permissions</th:block>
<body>
	<section layout:fragment="content">
		<th:block th:include="messaging/dismissable_alert"/>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>User ID</th>
					<th>Membership</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Full Name</th>
					<th>User ID</th>
					<th>Membership</th>
				</tr>
			</tfoot>
			<tbody th:each="user: ${users}">
				<tr>
					<td th:text="${user.full_name}">Fred User</td>
					<td th:text="${user.user_id}">fred</td>
					<td th:utext="${#strings.listJoin(#strings.listEscapeXml(user.roles), '<br>')}">groups</td>
				</tr>
			</tbody>
		</table>

	</section>

	<th:block layout:fragment="bodyend">
	</th:block>
</body>
</html>
