<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{root_layout}">

<head>
	<link rel="stylesheet" th:href="@{/css/loginlayout.css}">
	<link rel="stylesheet" th:href="@{/css/menulayout.css}">
</head>

<body>

	<th:block layout:fragment="topfragment">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<a class="navbar-brand" href="#"><img id="odk-logo"
					alt="ODK Client" th:src="@{/images/ODKX.png}" width="64"
					height="64"></a>
			</div>
		</nav>
		<div class="container content">
			<h1>
				<th:block layout:fragment="title"></th:block>
			</h1>

			<section layout:fragment="content">
				<p>Login page content goes here</p>
			</section>
		</div>
	</th:block>

</body>
</html>