<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{top_menu_layout}">
<!--/*@thymesVar id="username" type="java.lang.String"*/-->
<!--/*@thymesVar id="fullName" type="java.lang.String"*/-->
<!--/*@thymesVar id="officeId" type="java.lang.String"*/-->
<!--/*@thymesVar id="roleDescriptions" type="java.util.Map<String, String>"*/-->
	<head>
		<link rel="stylesheet" th:href="@{/css/whoami.css}">
	</head>

<th:block layout:fragment="title">Sync-Endpoint</th:block>
<body>
	<section layout:fragment="content">
		<div id = "tables-container">
			<div class="section-container">
				<div class = "row">
					<h2 class="row-header">Account details</h2>
				</div>
				<div class = "row">
					<p class="row-name">Username:</p>
					<b th:text="${username}"></b>
				</div>
				<div class = "row">
					<p class="row-name">Full name:</p>
					<b th:text="${fullName}"></b>
				</div>
				<div class = "row">
					<th:block th:if="${officeId != null}">
						<p class="row-name">Default group:</p>
						<b th:text="${officeId}"></b>
					</th:block>
				</div>
				<th:block th:each="role: ${roleDescriptions}">
					<div class = "row">
						<p class="row-name">Group/role:</p>
						<b th:text="${role.key}"></b>
					</div>
				</th:block>
			</div>
			<br>
			<br>
			<div class="section-container">
				<div class = "row">
					<h2 class="row-header">Form tables</h2>
				</div>
				<th:block th:each="topTid: ${tableIds}">
					<div class = "row">
						<b><a th:text="${topTid}"
							th:href="@{|/tables/manifest/${topTid}|}"></a></b>
					</div>
				</th:block>
			</div>
		</div>
	</section>
</body>
</html>